<!DOCTYPE html>
<html>
<head>	
	<title>Map</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>	
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="mapid" style="width: 800px; height: 600px;"></div>
<label>Recommend Location by ID</label>
    <form class="form-inline" method="POST" action="/read_ID3">
		<input class="form-control" type="text" placeholder="ID" name="ID">
        <button type="submit" class="btn btn-info">Recommend Location by ID</button>
    </form>
<script>
	var map = L.map('mapid').setView([{{x}}, {{y}}], 5);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' + '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(map);
	var dots = {{list|tojson|safe}};
	for (i=0; i<dots.length; i++) {
		var marker = L.marker([dots[i][0], dots[i][1]]).addTo(map)
		.bindPopup("Location:" + dots[i][2] + ", Preference:" + dots[i][3]);
	}
</script>
</body>
</html>